Package: nethack-qt
Source: nethack
Version: 3.4.3-12ubuntu1
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 2288
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libncurses5 (>= 5.6+20071006-3), libqt3-mt (>= 3:3.3.8-b), libstdc++6 (>= 4.1.1), nethack-common (= 3.4.3-12ubuntu1)
Provides: nethack
Section: games
Priority: optional
Description: dungeon crawl game - Qt interface
 NetHack is a wonderfully silly, yet quite addictive, Dungeons &
 Dragons-style adventure game. You play a character from one of many
 classes (such as wizard, ranger, or tourist), fighting your way down to
 retrieve the Amulet of Yendor (try saying THAT one backwards!) for your
 god. On the way, you might encounter a quantum mechanic or two, or
 perhaps King Arthur, or - if you're REALLY lucky - the Ravenous
 Bugblatter Beast of Traal.
 .
 You should install a front-end for NetHack if you
 wish to play the game.  Each of them includes the
 original non-graphical version, and they can all be installed
 at the same time:
  - nethack-console: no graphics, just plain NetHack;
  - nethack-x11    : original X11/Athena-based graphical version;
  - nethack-qt     : Qt-based graphical version;
  - nethack-lisp   : Lisp window version.
 .
 This package provides the text and Qt-based graphical versions
 of NetHack.
Original-Maintainer: Joshua Kwan <joshk@triplehelix.org>
